@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.swiper-pagination{
    position: static !important;
    padding-top: 2vw;
}
.swiper-pagination-bullet{
    width: clamp(0.3rem, 2vw, 0.6rem) !important;
    height: clamp(0.3rem, 2vw, 0.6rem) !important;
}
.swiper-pagination-white .swiper-pagination-bullet {
    background-color: white !important;
  }